"""
Config for alphavantage.co
"""

import json
import os

key = 'demo'


def readjsonratios(name):
    path = os.path.join('data', name + '.json')
    if not os.path.isfile(path):
        path = os.path.join('..', 'data', name + '.json')
    with open(path) as f:
        data = json.load(f)
    return data


ema50_close_to_ema200_ratios = readjsonratios('ema50_close_to_ema200')

symbols = readjsonratios('watchlist')